<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>

  <body>
    <h2>Welcome To Student Examination Portal</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, fugit?
      <br />
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis vel fugiat tempore adipisci nulla. Earum odit nostrum, unde, quae doloremque iste amet ad tenetur dolor, quidem magnam quos iusto voluptas. Sapiente placeat earum vitae non sint voluptatibus unde ipsum laboriosam dolorem, inventore blanditiis, quisquam aut fugit exercitationem debitis perspiciatis laudantium!
    </p>
    <a href="/auth/login/">Login</a>

  </body>
</html>
